<% layout("/layouts/boilerPlate") %>
   <h2>Create a New Listing</h2>
   <div class="row mt-3">
      <div class="col-8 offset-2">
   <form method="POST" action="/listing/add"  class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-3">
         <label for="title" class="form-label">Title</label>
   <input name="listing[title]"
    placeholder="Add a catachy title" 
    type="text" class="form-control" required> 
    <div class="invalid-feedback">
      Enter valid title
    </div>
    
</div>

   <div class="mb-3">
      <label for="description"
       class="form-label">Description</label>
      <textarea name="listing[description]"
       placeholder="Enter Description" type="text" 
       class="form-control" required> </textarea>
       <div class="invalid-feedback">
         Description should be short
       </div>
       
 </div>

<div class="mb-3">
   <label for="image" class="form-label">UPload Listing Image</label>
   <input name="listing[image]"
    type="file" class="form-control" required >
    

</div>

<div class="mb-3 ">
   <label for="Price" class="form-label">Price</label>
   <input name="listing[price]" 
   placeholder="1200" 
    class="form-control" required>
   <div class="invalid-feedback">
      Price should be valid
    </div>
 

</div>
<div class="row ">
   <div class="mb-3 col-md-4">
      <label for="Country" class="form-label">Country</label>
      <input name="listing[country]"
       placeholder="India"
        type="text" class="form-control " required>
        <div class="invalid-feedback">
         Country should be valid
       </div>
      
   </div>

   <div class="mb-3 col-md-8">
      <label for="Location" class="form-label">Location</label>
      <input name="listing[location]" 
      placeholder="Bagashwer,Uttarkhand"
       type="text" class="form-control " required>
       <div class="invalid-feedback">
         Location should be vaild
       </div>
      
   </div>
</div>

<button class="btn btn-dark add-btn">ADD Listing</button>
   </form> 
</div>
</div>

